In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

print(fruits.count('apple'))
print(fruits.count('tangerine'))

print(fruits.index('banana'))
print(fruits.index('banana', 4))  # Find next banana starting a position 4

fruits.reverse()
print(fruits)
fruits.append('grape')
print(fruits)
fruits.sort()
print(fruits)
fruits.pop()
print(fruits)

2
0
3
6
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

In [2]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
print(stack)
stack.pop()
print(stack)
stack.pop()
stack.pop()
print(stack)

[3, 4, 5, 6, 7]
[3, 4, 5, 6]
[3, 4]

In [4]:
from collections import deque

queue = deque (["erc","jhon","michel"])

queue.append("terry")   #terry arrives
queue.append("grham")   # graham arrives
queue.popleft()          #the first to arrive now leaves
queue.popleft()          #the second to arrives now leaves

print(queue)            #roaming queue in order of arrival

deque(['michel', 'terry', 'grham'])

## Queue

In [5]:
squares = []
for x in range (10):
    squares.append(x**2)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
squares = list(map(lambda x: x**2, range(10)))
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
squares = [x**2 for x in range (10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x,y))
print(combs)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [11]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
print([x*2 for x in vec])

# filter the list to exclude negative numbers
print([x for x in vec if x >= 0])

# apply a function to all the elements
print([abs(x) for x in vec])

# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
print([weapon.strip() for weapon in freshfruit])

[-8, -4, 0, 4, 8]
[0, 2, 4]
[4, 2, 0, 2, 4]
['banana', 'loganberry', 'passion fruit']

In [ ]:
[x, x**2 for x in range(6)]

In [12]:
[(x, x**2 ) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [13]:
vec = ([1,2,3], [4,5,6], [7,8,9])
print ([num for elem in vec for num in elem])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
]

#matrix transpose
[[row[i] for row in matrix for i in range(4)]]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]

In [19]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [20]:
list(zip (*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [21]:
a = [ -1,1,65,25,101,333, 333, 1234, 5]
del a[0]
print(a)

del a[2:4]
print(a)

del a[:]
print(a)

[1, 65, 25, 101, 333, 333, 1234, 5]
[1, 65, 333, 333, 1234, 5]
[]

In [22]:
del a
print(a)

NameError: name 'a' is not defined

## Tuples

In [23]:
t = 1234, 54321, 'hello!'
t[0]
t
#tuples may be nested
u = t, (1, 2, 3, 4, 5)
u

((1234, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [ ]:
# Tuples are immutable:
t[0] = 88888

In [25]:
# membuat tuples yg berisi hanya 1

empty = ()
singeleton = 'hello', 

print(len(empty))
print(len(singeleton))

0
1

## Sets 

Unordered, anggotanya unik - tidak ada yang sama

In [26]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

print('orange' in basket)                 # fast membership testing
print('crabgrass' in basket)

# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
print(a)                                  # unique letters in a
print(a - b)                              # letters in a but not in b
print(a | b)                              # letters in a or b or both
print(a & b)                              # letters in both a and b
print(a ^ b)                              # letters in a or b but not both

{'apple', 'pear', 'orange', 'banana'}
True
False
{'a', 'b', 'r', 'c', 'd'}
{'r', 'd', 'b'}
{'a', 'b', 'r', 'l', 'c', 'd', 'z', 'm'}
{'a', 'c'}
{'r', 'd', 'b', 'z', 'm', 'l'}

In [27]:
# Comprehensions

a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

## Dictionary

In [28]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127

print(tel)
print(tel['jack'])

del tel['sape']
tel['irv'] = 4127
print(tel)

list(tel)
sorted(tel)

print('guido' in tel)

{'jack': 4098, 'sape': 4139, 'guido': 4127}
4098
{'jack': 4098, 'guido': 4127, 'irv': 4127}
True

In [29]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [30]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [31]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [32]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [33]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [34]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.