In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

print(fruits.count('apple'))
print(fruits.count('tangerine'))

print(fruits.index('banana'))
print(fruits.index('banana', 4))  # Find next banana starting a position 4

fruits.reverse()
print(fruits)
fruits.append('grape')
print(fruits)
fruits.sort()
print(fruits)
fruits.pop()
print(fruits)

2
0
3
6
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

In [2]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
print(stack)
stack.pop()
print(stack)
stack.pop()
stack.pop()
print(stack)

[3, 4, 5, 6, 7]
[3, 4, 5, 6]
[3, 4]

In [4]:
from collections import deque

queue = deque (["erc","jhon","michel"])

queue.append("terry")   #terry arrives
queue.append("grham")   # graham arrives
queue.popleft()          #the first to arrive now leaves
queue.popleft()          #the second to arrives now leaves

print(queue)            #roaming queue in order of arrival

deque(['michel', 'terry', 'grham'])

## Queue

In [5]:
squares = []
for x in range (10):
    squares.append(x**2)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
squares = list(map(lambda x: x**2, range(10)))
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
squares = [x**2 for x in range (10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x,y))
print(combs)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [11]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
print([x*2 for x in vec])

# filter the list to exclude negative numbers
print([x for x in vec if x >= 0])

# apply a function to all the elements
print([abs(x) for x in vec])

# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
print([weapon.strip() for weapon in freshfruit])

[-8, -4, 0, 4, 8]
[0, 2, 4]
[4, 2, 0, 2, 4]
['banana', 'loganberry', 'passion fruit']

In [ ]:
[x, x**2 for x in range(6)]

In [12]:
[(x, x**2 ) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [13]:
vec = ([1,2,3], [4,5,6], [7,8,9])
print ([num for elem in vec for num in elem])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
]

#matrix transpose
[[row[i] for row in matrix for i in range(4)]]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]

In [19]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [20]:
list(zip (*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [21]:
a = [ -1,1,65,25,101,333, 333, 1234, 5]
del a[0]
print(a)

del a[2:4]
print(a)

del a[:]
print(a)

[1, 65, 25, 101, 333, 333, 1234, 5]
[1, 65, 333, 333, 1234, 5]
[]

In [22]:
del a
print(a)

NameError: name 'a' is not defined

## Tuples

In [23]:
t = 1234, 54321, 'hello!'
t[0]
t
#tuples may be nested
u = t, (1, 2, 3, 4, 5)
u

((1234, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [ ]:
# Tuples are immutable:
t[0] = 88888

In [25]:
# membuat tuples yg berisi hanya 1

empty = ()
singeleton = 'hello', 

print(len(empty))
print(len(singeleton))

0
1

## Sets 

Unordered, anggotanya unik - tidak ada yang sama

In [26]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

print('orange' in basket)                 # fast membership testing
print('crabgrass' in basket)

# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
print(a)                                  # unique letters in a
print(a - b)                              # letters in a but not in b
print(a | b)                              # letters in a or b or both
print(a & b)                              # letters in both a and b
print(a ^ b)                              # letters in a or b but not both

{'apple', 'pear', 'orange', 'banana'}
True
False
{'a', 'b', 'r', 'c', 'd'}
{'r', 'd', 'b'}
{'a', 'b', 'r', 'l', 'c', 'd', 'z', 'm'}
{'a', 'c'}
{'r', 'd', 'b', 'z', 'm', 'l'}

In [27]:
# Comprehensions

a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

## Dictionary

In [28]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127

print(tel)
print(tel['jack'])

del tel['sape']
tel['irv'] = 4127
print(tel)

list(tel)
sorted(tel)

print('guido' in tel)

{'jack': 4098, 'sape': 4139, 'guido': 4127}
4098
{'jack': 4098, 'guido': 4127, 'irv': 4127}
True

In [29]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [30]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [31]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [32]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [33]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [34]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [39]:
for i in reversed(range(1,10, 2)):
    print(i)

9
7
5
3
1

In [40]:
basket = ['apple', 'orange', 'apple','pear','orange','banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [42]:
basket = ['apple', 'orange', 'apple','pear','orange','banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [1]:
import math

raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []

for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [2]:
# a    b    a or b   a and b
# --   --   ------   ------- 
# T    T    a (T)    b (T)
# T    F    a (T)    b (F)
# F    T    b (T)    a (F)
# F    F    b (F)    a (F)

string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
n0 = string1 or string2
n1 = string2 or string3

print(bool(string1))
print(bool(string2))
print(bool(string3))

print(n0)
print(n1)

False
True
True
Trondheim
Trondheim

In [3]:
print((1, 2, 3) < (1, 2, 4))
print([1, 2, 3] < [1, 2, 4])
print('ABC' < 'C' < 'Pascal' < 'Python')
print((1, 2, 3, 4) < (1, 2, 4))
print((1, 2) < (1, 2, -1))
print((1, 2, 3) == (1.0, 2.0, 3.0))
print((1, 2, ('aa', 'ab')) < (1, 2, ('abc', 'a'), 4))

True
True
True
True
True
True
True

## swaroopch.com
### List

In [4]:
# This is my shopping list
shoplist = ['apple', 'mango', 'carrot', 'banana']

print('I have', len(shoplist), 'items to purchase.')

print('These items are:', end=' ')
for item in shoplist:
    print(item, end=' ')

print('\nI also have to buy rice.')
shoplist.append('rice')
print('My shopping list is now', shoplist)

print('I will sort my list now')
shoplist.sort()
print('Sorted shopping list is', shoplist)

print('The first item I will buy is', shoplist[0])
olditem = shoplist[0]
del shoplist[0]
print('I bought the', olditem)
print('My shopping list is now', shoplist)

I have 4 items to purchase.
These items are: apple mango carrot banana
I also have to buy rice.
My shopping list is now ['apple', 'mango', 'carrot', 'banana', 'rice']
I will sort my list now
Sorted shopping list is ['apple', 'banana', 'carrot', 'mango', 'rice']
The first item I will buy is apple
I bought the apple
My shopping list is now ['banana', 'carrot', 'mango', 'rice']

## Tuple

In [5]:
# I would recommend always using parentheses
# to indicate start and end of tuple
# even though parentheses are optional.
# Explicit is better than implicit.
zoo = ('python', 'elephant', 'penguin')
print('Number of animals in the zoo is', len(zoo))

new_zoo = 'monkey', 'camel', zoo    # parentheses not required but are a good idea
print('Number of cages in the new zoo is', len(new_zoo))
print('All animals in new zoo are', new_zoo)
print('Animals brought from old zoo are', new_zoo[2])
print('Last animal brought from old zoo is', new_zoo[2][2])
print('Number of animals in the new zoo is',
      len(new_zoo)-1+len(new_zoo[2]))

Number of animals in the zoo is 3
Number of cages in the new zoo is 3
All animals in new zoo are ('monkey', 'camel', ('python', 'elephant', 'penguin'))
Animals brought from old zoo are ('python', 'elephant', 'penguin')
Last animal brought from old zoo is penguin
Number of animals in the new zoo is 5

## Dictionary

In [6]:
# 'ab' is short for 'a'ddress'b'ook

ab = {
    'Swaroop': 'swaroop@swaroopch.com',
    'Larry': 'larry@wall.org',
    'Matsumoto': 'matz@ruby-lang.org',
    'Spammer': 'spammer@hotmail.com'
}

print("Swaroop's address is", ab['Swaroop'])

# Deleting a key-value pair
del ab['Spammer']

print('\nThere are {} contacts in the address-book\n'.format(len(ab)))

for name, address in ab.items():
    print('Contact {} at {}'.format(name, address))

# Adding a key-value pair
ab['Guido'] = 'guido@python.org'

if 'Guido' in ab:
    print("\nGuido's address is", ab['Guido'])

Swaroop's address is swaroop@swaroopch.com

There are 3 contacts in the address-book

Contact Swaroop at swaroop@swaroopch.com
Contact Larry at larry@wall.org
Contact Matsumoto at matz@ruby-lang.org

Guido's address is guido@python.org

## Sequence

In [7]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
name = 'swaroop'

# Indexing or 'Subscription' operation #
print('Item 0 is', shoplist[0])
print('Item 1 is', shoplist[1])
print('Item 2 is', shoplist[2])
print('Item 3 is', shoplist[3])
print('Item -1 is', shoplist[-1])
print('Item -2 is', shoplist[-2])
print('Character 0 is', name[0])

# Slicing on a list #
print('Item 1 to 3 is', shoplist[1:3])
print('Item 2 to end is', shoplist[2:])
print('Item 1 to -1 is', shoplist[1:-1])
print('Item start to end is', shoplist[:])

# Slicing on a string #
print('characters 1 to 3 is', name[1:3])
print('characters 2 to end is', name[2:])
print('characters 1 to -1 is', name[1:-1])
print('characters start to end is', name[:])

Item 0 is apple
Item 1 is mango
Item 2 is carrot
Item 3 is banana
Item -1 is banana
Item -2 is carrot
Character 0 is s
Item 1 to 3 is ['mango', 'carrot']
Item 2 to end is ['carrot', 'banana']
Item 1 to -1 is ['mango', 'carrot']
Item start to end is ['apple', 'mango', 'carrot', 'banana']
characters 1 to 3 is wa
characters 2 to end is aroop
characters 1 to -1 is waroo
characters start to end is swaroop

## Set

In [8]:
bri = set(['brazil', 'russia', 'india'])

print('india' in bri)
print('usa' in bri)

bric = bri.copy()
bric.add('china')
print(bric.issuperset(bri))

bri.remove('russia')
print(bri & bric) # OR bri.intersection(bric)

True
False
True
{'brazil', 'india'}

## References

In [9]:
print('Simple Assignment')
shoplist = ['apple', 'mango', 'carrot', 'banana']
# mylist is just another name pointing to the same object!
mylist = shoplist

# I purchased the first item, so I remove it from the list
del shoplist[0]

print('shoplist is', shoplist)
print('mylist is', mylist)
# Notice that both shoplist and mylist both print
# the same list without the 'apple' confirming that
# they point to the same object

print('Copy by making a full slice')
# Make a copy by doing a full slice
mylist = shoplist[:]
# Remove first item
del mylist[0]

print('shoplist is', shoplist)
print('mylist is', mylist)
# Notice that now the two lists are different

Simple Assignment
shoplist is ['mango', 'carrot', 'banana']
mylist is ['mango', 'carrot', 'banana']
Copy by making a full slice
shoplist is ['mango', 'carrot', 'banana']
mylist is ['carrot', 'banana']

## String

In [10]:
# This is a string object
name = 'Swaroop'

if name.startswith('Swa'):
    print('Yes, the string starts with "Swa"')

if 'a' in name:
    print('Yes, it contains the string "a"')

if name.find('war') != -1:
    print('Yes, it contains the string "war"')

delimiter = '_*_'
mylist = ['Brazil', 'Russia', 'India', 'China']
print(delimiter.join(mylist))

Yes, the string starts with "Swa"
Yes, it contains the string "a"
Yes, it contains the string "war"
Brazil_*_Russia_*_India_*_China

## Datacamp

In [11]:
# Floats
x = 4.0
y = 2.0

# Addition
print(x + y)

# Subtraction
print(x - y)

# Multiplication
print(x * y)

# Returns the quotient
print(x / y)

# Returns the remainder
print(x % y) 

# Absolute value
print(abs(x))

# x to the power y
print(x ** y)

6.0
2.0
8.0
2.0
0.0
4.0
16.0

In [12]:
x = 'Cake'
y = 'Cookie'
print(x + ' & ' + y)
print(x * 2)

Cake & Cookie
CakeCake

In [13]:
# Range Slicing
z1 = x[2:] 

print(z1)

# Slicing
z2 = y[0] + y[1] 

print(z2)

ke
Co

In [14]:
x = '4'
y = '2'

x + y

'42'

In [15]:
str.capitalize('cookie')

'Cookie'

In [16]:
str1 = "Cake 4 U"
str2 = "404"
len(str1)

8

In [17]:
str1.isdigit()

False

In [18]:
str2.isdigit()

True

In [19]:
str1.replace('4 U', str2)

'Cake 404'

In [20]:
str1 = 'cookie'
str2 = 'cook'
str1.find(str2)

0

In [21]:
str1 = 'I got you a cookie'
str2 = 'cook'
str1.find(str2)

12

In [22]:
x = 4
y = 2
x == y

False

In [23]:
x > y

True

In [24]:
x = 4
y = 2
z = (x==y) # Comparison expression (Evaluates to false)
if z: # Conditional on truth/false value of 'z'
    print("Cookie")
else: print("No Cookie")

No Cookie

In [26]:
i = 4.0
type(i)

float

In [27]:
# Implicity conversion
# A float
x = 4.0 

# An integer
y = 2 

# Divide `x` by `y`
z = x/y

# Check the type of `z`
type(z)

float

In [28]:
# Explicit conversion
x = 2
y = "The Godfather: Part "
fav_movie = (y) + str(x)
print(fav_movie)

The Godfather: Part 2

In [29]:
import array as arr

a = arr.array("I",[3,6,9])
type(a)

array.array

In [30]:
x = [] # Empty list
type(x)

list

In [31]:
x1 = [1,2,3]
type(x1)

list

In [32]:
x1 = [1,2,3]
type(x1)

list

In [33]:
x2 = list([1,'apple',3])
type(x2)

list

In [34]:
x2[1] = 'orange'
print(x2)

[1, 'orange', 3]

In [35]:
list_num = [1,2,45,6,7,2,90,23,435]
list_char = ['c','o','o','k','i','e']

list_num.append(11) # Add 11 to the list, by default adds to the last position
print(list_num)

[1, 2, 45, 6, 7, 2, 90, 23, 435, 11]

In [36]:
list_num.insert(0, 11)
print(list_num)

[11, 1, 2, 45, 6, 7, 2, 90, 23, 435, 11]

In [37]:
list_char.remove('o') 
print(list_char)

['c', 'o', 'k', 'i', 'e']

In [38]:
list_char.pop(-2) # Removes the item at the specified position
print(list_char)

['c', 'o', 'k', 'e']

In [39]:
list_num.sort() # In-place sorting
print(list_num)

[1, 2, 2, 6, 7, 11, 11, 23, 45, 90, 435]

In [40]:
list.reverse(list_num)
print(list_num)

[435, 90, 45, 23, 11, 11, 7, 6, 2, 2, 1]

In [41]:
import array as arr

array_char = arr.array("u",["c","a","t","s"])
array_char.tobytes()

print(array_char)

array('u', 'cats')

In [42]:
stack = [1,2,3,4,5] 
stack.append(6) # Bottom -> 1 -> 2 -> 3 -> 4 -> 5 -> 6 (Top)
print(stack)

[1, 2, 3, 4, 5, 6]

In [43]:
stack.pop() # Bottom -> 1 -> 2 -> 3 -> 4 -> 5 (Top)
stack.pop() # Bottom -> 1 -> 2 -> 3 -> 4 (Top)
print(stack)

[1, 2, 3, 4]

In [44]:
graph = { "a" : ["c", "d"],
          "b" : ["d", "e"],
          "c" : ["a", "e"],
          "d" : ["a", "b"],
          "e" : ["b", "c"]
        }

def define_edges(graph):
    edges = []
    for vertices in graph:
        for neighbour in graph[vertices]:
            edges.append((vertices, neighbour))
    return edges

print(define_edges(graph))

[('a', 'c'), ('a', 'd'), ('b', 'd'), ('b', 'e'), ('c', 'a'), ('c', 'e'), ('d', 'a'), ('d', 'b'), ('e', 'b'), ('e', 'c')]

In [ ]:
x_tuple = 1,2,3,4,5
y_tuple = ('c','a','k','e')
x_tuple[0]

In [ ]:
x_dict = {'Edward':1, 'Jorge':2, 'Prem':3, 'Joe':4}
del x_dict['Joe']
x_dict

In [ ]:
x_dict['Edward'] # Prints the value stored with the key 'Edward'.

In [ ]:
len(x_dict)

In [ ]:
x_dict.keys()

In [ ]:
x_dict.values()

In [ ]:
x_set = set('CAKE&COKE')
y_set = set('COOKIE')

print(x_set)

In [ ]:
print(y_set) # Single unique 'o'

In [ ]:
print(x_set - y_set) # All the elements in x_set but not in y_set

In [ ]:
print(x_set|y_set) # Unique elements in x_set or y_set or both

In [ ]:
print(x_set & y_set) # Elements in both x_set and y_set